/* timeline */

.timeline {
  margin-top: 2rem;
  height: 40vh;
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
}

.title {
  margin: 2rem 0;
  padding-bottom: 6rem;
}

.line ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.line li {
  margin-top: 30px;
  position: relative;
  padding: 25px;
}

.line li p {
  padding: 0 20px;
  transition: 1.5s;
}

.date {
  position: absolute;
  top: 30px;
  left: -50px;
  transition: 1.5s;
  font-size: 12px;
}

.timeline-line {
  background: var( --border-color);
  width: 4px;
  border-radius: 12px;
  position: relative;
  justify-self: end;
}

.timeline-point {
  border: 5px solid white;
 
  position: absolute;
  border-radius: 50%;
  background:  var( --border-color);
  width: 2rem;
  height: 2rem;
  
  top: 30px;
  left: -6px;
  transition: 1.5s ease;
}

@media screen and (min-width: 728px) {
  .timeline {
    display: block;
  }

  .line ul {
    flex-direction: row;
  }

  .line li {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
  }

  .line li p {
    transform: translateY(-10px);
    transition: 1.5s;
  }

  .date {
    transition: 1.5s;
    font-size: 12px;

    position: absolute;
    top: -60px;
    left: 38%;
  }

  .timeline-point {
    /* width: 15px;
    height: 15px; */

    top: -42px;
    left: 40%;
    transition: 1.5s ease;
  }

  .timeline-line {
    width: 100%;
    height: 4px;
  }
}

/* timeline end */
/* project */
.project {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.pjcard-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .pjcard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .pjcard-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pjcard {
  list-style: none;
  position: relative;
  margin: 1rem;
}

.pjcard:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.pjcard__background {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.pjcard:hover .pjcard__background {
  transform: scale(1.05) translateZ(0);
}

.pjcard-grid:hover>.pjcard:not(:hover) .pjcard__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.pjcard__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.pjcard__category {
  color: #fefe;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.pjcard__heading {
  color: #fefe;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}