html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}
:root {
  /* Font Sizes & Family */
  /* if we set html's font size 62.5% then 1rem = 10px */

  --body-font: "Corben", Georgia, Times, serif;
  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* Font Weight ***/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Color Variables */
  --primary-color: #4294c1;
  --primary-color-hover: #5db5d9;
  --text-color: #333;
  --text-color-light: #626167;
  --border-color: #717070;
  --white-color: #fefefe;
  --section-bg: #6680b3;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}

/* Pre-CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--white-color);

  margin: 0 auto;
}

/* Custom Scrollbar */
::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--primary-color-hover);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */

section {
  margin: 8rem 0;
  padding: 0 calc(6rem + 1.5625vw);
}
.container {
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}
.section-description {
  padding: 0 16rem;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}
.header-active {
  height: 6rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */

.nav {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(6rem + 1.5625vw);
}
.menu-content {
  text-align: center;
}
.contact-content {
  text-align: right;
}
.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number {
  color: var(--white-color);
}

.header-active .logo-icon,
.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number {
  color: var(--text-color);
}
.logo-content img {
  width: 4rem;
}
.logo-icon,
.phone-icon {
  font-size: 2rem;
}
.menu-list {
  column-gap: 2rem;
}
.nav-link {
  position: relative;
  text-transform: capitalize;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}
.active-navlink::before {
  opacity: 1;
}
.header-active .active-navlink::before {
  background-color: var(--text-color);
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content {
    display: none;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons {
    display: block;
  }
  .nav .menu-content {
    position: fixed;
    top: 6rem;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open {
    right: 0;
  }
  .menu-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link {
    color: var(--text-color);
  }
  .nav-link::before {
    background-color: var(--text-color);
  }

  .menu-btn {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 4rem;
    height: 6px;
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 6px;
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/* Home */
.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
.home-content {
  text-align: center;
}
.home-video {
  filter: blur(4px);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.home-text h4,
.home-text h2 {
  color: #fefefe;
}

@media (min-aspect-ratio: 16/9) {
  .home-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .home-video {
    width: auto;
    height: 100%;
  }
}

.home-details {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle {
  text-align: center;
  font-size: var(--normal-font);
  color: var(--primary-color);
}
.homeTitle {
  text-align: center;
  font-size: var(--big-font);
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}

/* advantage part */

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .advantage-card {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper .advantage-card .front-face {
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);

  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 10px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
  text-align: center;
}
#advantage-title {
  text-align: left;
}
.advantage-card .front-face .icon {
  height: 80px;
}
.advantage-card .front-face .icon i {
  font-size: 65px;
}
.advantage-card .front-face span,
.advantage-card .back-face span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.advantage-card .front-face .icon i,
.advantage-card .front-face span {
  background-image: linear-gradient(
    -225deg,
    #3d4e81 0%,
    #5753c9 48%,
    #6e7ff3 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.advantage-card .front-face .icon img {
  height: 80px;
  width: auto;
}

.advantage-card .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 30px;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  /* Created with https://www.css-gradient.com */
  background: #8caeca;
  background: -webkit-linear-gradient(top, #8caeca, #030c2e);
  background: -moz-linear-gradient(top, #8caeca, #030c2e);
  background: linear-gradient(to bottom, #8caeca, #030c2e);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.advantage-card .back-face p {
  margin-top: 10px;
  text-align: justify;
}
.advantage-card:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}
.advantage-card:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
@media screen and (max-width: 768px) {
  #advantage-title {
    height: 100px;
  }
}

/* aims section */
.aim-img {
  border: 6px solid var(--section-bg);
}
/* service section */
.swiper-slide {
  position: relative;
  /* height: 100vh; */
  width: 100%;
}

.services {
  margin-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container {
  width: 100%;
}
.slide-content {
  margin: 0 60px;
  overflow: hidden;
}
.card {
  border-radius: 24px;
  background-color: #f5f5f5;
  transition: all 1s ease;
  height: 70vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 10px;
}
.card:hover {
  background-color: #6e93f7;

  transition: all 1s ease;
}
.card-number {
  padding-bottom: 10px;
  color: #707070;
}
.card-img {
  padding: 20px 10px;
  text-align: center;
  max-width: 60%;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding-bottom: 10px;
}
.description {
  font-size: 14px;
  color: #707070;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0;
  }
  .swiper-navBtn {
    display: none;
  }
}
/* project */
.project {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.pjcard-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .pjcard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .pjcard-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pjcard {
  list-style: none;
  position: relative;
  margin: 1rem;
}

.pjcard:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.pjcard__background {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.pjcard:hover .pjcard__background {
  transform: scale(1.05) translateZ(0);
}

.pjcard-grid:hover > .pjcard:not(:hover) .pjcard__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.pjcard__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.pjcard__category {
  color: #fefe;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.pjcard__heading {
  color: #fefe;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
/* thailand */
.half .content-subtitle,
.half .content-title,
.half .content-description {
  text-align: left;
}

.half-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
  align-items: center;
}

.half-imageContent {
  position: relative;
  max-width: 400px;
  height: 450px;
  margin: 0 auto;
}

.img-box img {
  position: absolute;
}
.img-box .map-img {
  height: auto;
  /* object-fit: cover;
  mix-blend-mode: screen; */
}
.halfImg-textBox {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--section-bg);
  background-color: var(--white-color);
}
.halfImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}
.heart-icon {
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--section-bg);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.half-details {
  display: grid;
  row-gap: 4rem;
}
.half-lists {
  column-gap: 1rem;
  align-items: baseline;
}
.half-list {
  font-weight: var(--font-medium);
  font-size: 1.8rem;
}

.half-list.dot {
  font-size: 2.5rem;
}
.half-buttons {
  column-gap: 2rem;
}
.half-link .link-text,
.half-arrowIcon {
  color: var(--text-color);
  text-transform: uppercase;
}
.half-arrowIcon {
  transition: var(--tran-0-3);
}
.half-link:hover .half-arrowIcon {
  margin-left: 4px;
}

/* Menu */
.menu {
  background-color: var(--section-bg);
}
.section-title,
.section-description {
  color: var(--white-color);
}
.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}
.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}
.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  padding: 2rem 2.5rem;
  background-color: var(--white-color);
}
.menuItem-details {
  margin-right: 1.5rem;
}
.menuItem-topic {
  font-weight: var(--font-semi-bold);
}
.menuItem-des {
  font-size: var(--small-font);
}
.menuItem-price {
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.discount-price {
  font-size: 1.8rem;
}
.real-price {
  text-decoration: line-through;
}
.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}
.time-list:nth-child(7) {
  border-bottom: none;
}

/* swiper btn */
.review .swiper-navBtn {
  background-color: rgba(0, 0, 0, 0.1);
}
.review .swiper-button-next {
  right: 2rem;
  transform: translateY(2rem);
}
.review .swiper-button-prev {
  left: 2rem;
  transform: translateY(2rem);
}
.review .swiper-navBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.contact-content {
  justify-content: flex-end;
}

/* Footer */
.footer {
  padding: 4rem 2rem 3rem;
  background-color: var(--section-bg);
}
.footer .content-description,
.footer .map-icon,
.footer .location-text {
  color: var(--text-color-light);
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content {
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon {
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}
.footer .logo-icon {
  font-size: 3rem;
}
.footer .content-description,
.footer .location-text {
  text-align: left;
  font-size: var(--small-font);
}
.footer .map-icon {
  font-size: 3rem;
  margin-right: 1rem;
}
.footer-linkContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}
.footer-links {
  display: grid;
  row-gap: 1rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}
.footer-link {
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.5);
  transition: var(--tran-0-3);
}
.footer-link:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);
}

/* Scroll Up */
.scrollUp-btn {
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 4px;
  color: var(--primary-color-hover);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: var(--z-overlay);
  justify-content: center;
  transition: var(--tran-0-3);
}
.scrollUpBtn-active {
  bottom: 3rem;
}
.scrollUp-icon {
  opacity: 0.9;
  transition: var(--tran-0-3);
}
.scrollUp-btn:hover .scrollUp-icon {
  opacity: 1;
}

/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
  }
  .swiper-button-next {
    right: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
  }
  .swiper-button-next {
    right: 3rem;
  }
  .section-description {
    padding: 0 8rem;
  }
  .half-imageContent {
    height: 400px;
  }
  .halfImg-textBox {
    padding: 1.5rem 2rem;
  }
  .menu .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }
  .brand-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .section.review {
    padding: 7rem 1rem 3rem;
  }
  .review .swiper {
    padding-bottom: 6.5rem;
  }
  .swiper-navBtn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
  }
  .section-description,
  .review-quote {
    padding: 0 6rem;
  }
  .half-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }
  .half .content-subtitle,
  .half .content-title,
  .half .content-description {
    text-align: center;
  }
  .half-details {
    justify-items: center;
  }
  .half-lists {
    justify-content: center;
  }
  .menu .menu-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .footer-container {
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
  .section-description,
  .review-quote {
    padding: 0;
  }
  .halfImg-textBox {
    right: -2rem;
  }
  .menuItem-price {
    border: none;
  }
  .menu-img {
    height: 70px;
    width: 70px;
    margin-right: 0;
  }
  .brand-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .brand-img {
    width: 130px;
  }
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .footer-content {
    justify-items: center;
  }
  .footer-linkContent {
    justify-items: center;
  }
}
@media screen and (max-width: 400px) {
  .homeTitle {
    font-size: 3rem;
  }
  .menu-item {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 2rem;
  }
  .menuItem-details {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuItem-price {
    padding-left: 0;
    flex-direction: row;
  }
  .menuItem-des {
    text-align: center;
  }
  .newsletter-input {
    padding: 0 11rem 0 2rem;
  }
  .newsletter-button {
    padding: 1.4rem 2rem;
  }
}

/* banner */
.banner {
  background-color: black;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
.banner-background {
  background: url("../images/image2.png");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 50vh;
  font-size: 12rem;
  text-align: center;
  position: absolute;
  color: transparent;
  letter-spacing: 2rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

